*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* bg colors */
.bg-white{
    background-color: white;
}

.bg-colored{
    background-color: #b4d0e7;
}


/* buttons */
.btns{
    padding: 10px 16px;
    background-color: #0061ff;
    color: white;
}

.btns-alt{
    border: 2px solid black;
    background-color: white;
    color: black;
}



/* inizio navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 36px 20px;

    
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-left{
    display: flex;
    
    gap: 44px;
        
}

.nav-left ul{
    display: flex;
    align-items: center;
    gap: 44px;

    list-style: none;
    color: red;
}

a {
    text-decoration: none;
}


.nav-right ul{
    display: flex;
    align-items: center;
    gap: 44px;

    list-style: none;

}

/* fine navbar */




/* inizio main */


/* hero */





.container-big{
        
    margin-right: auto;
    margin-left: auto;
    
    padding-top: calc(195px - 50px);  /*i 50px sono della trasform: translate*/

    max-width: 1200px;

   
    
    
}

.hero{    

    transform: translateY(50px);

}

.hero h1{
    padding-bottom: 68px;

    font-size: 60px;
    font-weight: bold;
    
    
   
}


.row{
    display: flex;
}

.row img{
    width: 100%;
    object-fit: contain;
    
}

.col-small{
    
    align-items: flex-start;
    gap: 35px;
    width: 30%;
    
    
    
}
.col-small-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
}

.col-small .fa.fa-arrow-down {
   padding-top: 80px;
   font-size: 44px;
}

.col-big{
    width: 70%;
   
}
/* fine hero */


.container{
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;

    
}

.container h2{
    padding-top: 170px;
    padding-bottom: 65px;
    

    font-size: 32px;
}

.radio-btns{
    display: flex;
    gap: 30px;
    padding-bottom: 54px;
}



.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
    

    /* test */
    background-color: rgb(255, 255, 255);
    
}

.cards .card {
    /* flex-grow: 1; */
    width: calc(100% / 3 - 50px / 3 * 2);
    
    border: 2px solid #d9d9db;
    font-size: 14px;

}

.cards .card .card-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 34px;
}

.cards .card .card-header{
    padding: 14px 0px 14px;
    text-align: center;
    border-bottom: 2px solid #d9d9db;
}

.card-box h3{
    padding-bottom: 26px;

}

.card-box div:nth-child(3){
    padding-top: 20px;
    padding-bottom: 60px;


    color: #d9d9db;
}


.card-box ul li{
    padding-bottom: 25px;

    list-style: none;    
    
}

/* .card-box ul:nth-of-type(2) li:before {
    content: "\f007";
} */

.card-box a{
    margin: 30px 0px 30px;
}

.card-box a:nth-child(1){
    display: inline;
    color: blue;
    text-decoration: underline;
    
}

.card-box hr{
    width: 20%;
    margin-top: 35px;
    margin-bottom: 55px;

    color: red;
}



.card-box h4{
    
    padding-bottom: 38px;
}

.card-box ul .fa.fa-check{
    color: #0061ff;
    
}

.cards .card:last-child{
    flex-grow: 1;

}

.cards .card:last-child .card-box{
    display: flex;
    flex-direction: row;  
    gap: 70px;
    
    
       
       
}

.cards .card:last-child .card-box div:nth-of-type(2){
    color: black;
    padding-top: 50px ;
    padding-bottom: 0px;
    
}

.cards .card:last-child .card-box a{
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    
    
}


.container.row{
    
    padding-top: 158px;    

}


.container .row img{
    width: 100%;
    object-fit: contain;
}

.container.row .col-small h3{
    font-size: 20px;

}

.container.row .col-small{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
    padding-left: 40px;
} 

/* test */
.container.flex > *{
    border: 1px dashed black;
    height: 300px;
}

.container .tiles{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.container .tiles .tile{
    flex-grow: 1;
    width: calc(100% / 3 - 50px / 3 * 2);

    /* test */
    /* height: 485px; */
    background-color: blueviolet;
    border: 1px solid white;
}

.container .tile img{
    width: 100%;
    
}


.container a{
    display: block;
    
}

.partner{

    display: flex;

    /* width: 100vw; */
    
    /* test */
    background-color: white;
}

.partner .partners-side{
    
    /* test */
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
    
}

.partner .partners-center{
    flex-grow: 1;
    
    /* width: 100%; */
    /* test */
    border: 1px solid black;
    
}

.container.faq{
    padding-bottom: 156px;
}

.container.faq h2{
    padding-bottom: 80px;
}
.domande{
    padding: 48px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    background-color: lightcoral;

}


/* fine main */


/* inizio footer */

footer{
    background-color: black;
}

.padding-small{
    padding-top: 80px;
}

.container-lists{
    display: flex;
    gap: 50px;

    margin-right: auto;
    margin-left: auto;
    
    

    max-width: 1230px;

    color: white;

}

.list{
    width: calc(100%/5 - 50px / 5 * 4);

    border:1px solid white;
    height: 300px;
}

.bottombar{
    padding-top: 54px;
    padding-bottom: 54px;

    color: white;
}
/* fine footer */