*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-white{
    background-color: white;
}

.bg-colored{
    background-color: #b4d0e7;
}

.prova{
    width: 700px;
    height: 500px;
}

/* inizio navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 36px 20px;

    /* test */
    background-color: yellow;
}

.nav-left{
    display: flex;
    
    gap: 44px;
    
    /* test */
    border: 1px solid black;
}

.nav-left ul{
    display: flex;
    gap: 44px;

    list-style: none;
    color: red;
}

.nav-right{
    /* test */
    border: 1px solid black;
}
.nav-right ul{
    display: flex;
    gap: 44px;

    list-style: none;

}

/* fine navbar */




/* inizio main */


/* hero */

/* test */
.container-big > *{
    border: 2px dashed black;
}




.container-big{
        
    margin-right: auto;
    margin-left: auto;
    
    padding-top: 190px;

    max-width: 1200px;

    /* test */
    
    
}

.hero{
    border: 1px solid red;
    background-color: lightgreen;

    transform: translateY(50px);

}

.row{
    display: flex;
}

.col-small{
    width: 30%;
    
    /* test*/
    border: 1px dashed red;
    height: 300px;
}
.col-big{
    flex-grow: 1;

    /* test*/
    border: 1px dashed red;
}
/* fine hero */

.container{
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;

    
}

.container h2{
    padding-top: 170px;
    padding-bottom: 65px;
    flex-basis: 100%;
}

.container .buttons{
    
    padding-bottom: 54px;
    flex-basis: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    
    

    /* test */
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.cards .card {
    flex-grow: 1;
    
    

    /* test */
    color: white;
    background-color: blue;
    border: 1px solid white;

}

.card4{

    flex-basis: 100%;
    background-color: brown;
    
}

.container.row{
    
    padding-top: 158px;    

}

/* test */
.container.flex > *{
    border: 1px dashed black;
    height: 300px;
}

.container .tiles{
    display: flex;
    flex-wrap: wrap;
}

.container .tiles .tile{
    width: 33%;

    /* test */
    height: 485px;
    background-color: blueviolet;
    border: 1px solid white;
}


.container a{
    display: block;
    
    padding-bottom: 158px;
}

.partner{

    display: flex;

    /* width: 100vw; */
    
    /* test */
    background-color: white;
}

.partner .partners-side{
    
    /* test */
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
    
}

.partner .partners-center{
    flex-grow: 1;
    
    /* width: 100%; */
    /* test */
    border: 1px solid black;
    
}

.container.faq{
    padding-bottom: 156px;
}

.container.faq h2{
    padding-bottom: 80px;
}
.domande{
    padding: 48px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    background-color: lightcoral;

}


/* fine main */


/* inizio footer */

footer{
    background-color: black;
}

.padding-small{
    padding-top: 80px;
}

.container-lists{
    display: flex;
    gap: 50px;

    margin-right: auto;
    margin-left: auto;
    
    

    max-width: 1230px;

    color: white;

}

.list{
    width: calc(100%/5 - 50px / 5 * 4);

    border:1px solid white;
    height: 300px;
}

.bottombar{
    padding-top: 54px;
    padding-bottom: 54px;

    color: white;
}
/* fine footer */