*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* inizio navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 36px 20px;

    /* test */
    background-color: yellow;
}

.nav-left{
    /* test */
    border: 1px solid black;
}

.nav-right{
    /* test */
    border: 1px solid black;
}

/* fine navbar */




/* inizio main */


/* hero */

/* test */
#hero > *{
    border: 2px dashed black;
}


section{background-color: aqua;}


#hero{
    margin-right: auto;
    margin-left: auto;
    
    padding-top: 190px;

    max-width: 1230px;

    /* test */
    
    border: 1px solid red;
    background-color: lightgreen;
}

.hero-container{
    display: flex;
}

.hero-small{
    width: 400px;
    height: 300px;
}
.hero-big{
    flex-grow: 1;

    /* test*/
    border: 1px dashed red;
}
/* fine hero */

.container{
    margin-left: auto;
    margin-right: auto;

    max-width: 1040px;

    
}

.container h2{
    padding-top: 94px;
    flex-basis: 100%;
}

.container .buttons{
    padding-top: 66px;
    padding-bottom: 54px;
    flex-basis: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    
    

    /* test */
    background-color: lightblue;
    height: 700px;
}

.cards .card {
    flex-grow: 1;
    
    

    /* test */
    color: white;
    background-color: blue;
    border: 1px solid white;

}

.card4{

    flex-basis: 100%;
    background-color: brown;
    
}

.col-big{
    width: 100%;

}
.col-small{
    width: 415px;
}

.container.flex{
    display: flex;

    padding-top: 158px;
    

    

}

/* test */
.container.flex > *{
    border: 1px dashed black;
    height: 300px;
}

.container .tiles{
    display: flex;
    flex-wrap: wrap;
}

.container .tiles .tile{
    width: 33%;

    /* test */
    height: 100px;
    background-color: blueviolet;
    border: 1px solid white;
}


.container a{
    display: block;
    padding-top: 77px;
    padding-bottom: 158px;
}

.partner{

    display: flex;



    /* width: 100vw; */
    height: 30vh;

    /* test */
    background-color: white;
}

.partner .partners-side{
    
    /* test */
    border: 1px solid black;
    width: 500px;
    height: 100%;
    
}

.partner .partners-center{
    flex-grow: 1;
    
    /* test */
    border: 1px solid black;
    
}

.container.faq{
    padding-bottom: 156px;
}

.container.faq h2{
    padding-bottom: 80px;
}
.domande{
    padding: 48px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    background-color: lightcoral;

}


/* fine main */


/* inizio footer */

footer{
    background-color: black;
}

.container-lists{
    display: flex;
    gap:100px;

    margin-right: auto;
    margin-left: auto;
    
    padding-top: 114px;

    max-width: 1230px;

    color: white;

}

.list{
    flex-grow: 1;

    border:1px solid white;
    height: 100px;
}

.bottombar{
    padding-top: 54px;
    padding-bottom: 54px;

    color: white;
}
/* fine footer */